<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Drag & Drop or Browse: File Upload | CodingNepal</title> -->
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Image to Text</title>
  </head>
  <body>
    <p class="title">Image to Text</p>
    <div class="drag-area">
      <div class="top">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <span class="mid" style="display: block">OR</span>
        <span class="browse mid" style="display: block; cursor: pointer"
          >Browse File</span
        >
      </div>
      <form
        id="frmUploader"
        class="form"
        enctype="multipart/form-data"
        action="/upload"
        method="post"
      >
        <input type="file" class="file" name="image" hidden />
        <input
          type="submit"
          name="submit"
          onclick="loader()"
          id="btnSubmit"
          value="Upload"
        />
      </form>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
