<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"
      integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Result</title>
  </head>
  <body>
    <div class="main_result">
      <div class="logo-top">
        <h2>ELLOCR</h2>
      </div>
      <div class="result_heading">
        <div>
          <h2 style="font-size: 24px; font-weight: 200">Result</h2>
        </div>
        <div class="heading_btns">
          <button id="save_drive">Save to Google Drive</button>
          <button id="download_now" class="btn">
            Download <span> <img src="images/arrow-down.svg" alt="" /> </span>
          </button>
        </div>
      </div>
      <div class="result-data">
        <pre><%= extractedData %></pre>
      </div>
      <div class="new_scan">
        <a href="/">
          <button id="scan_now_btn">Scan More</button>
        </a>
      </div>
    </div>
  </body>
  <script>
    document.querySelector("#download_now").addEventListener("click", () => {
      var text = `<%= text %>`;
      download(text, "result.txt", "text/plain");
    });

    // var buttons = document.getElementsByTagName("button");

    // Array.prototype.forEach.call(buttons, function (b) {
    //   b.addEventListener("click", createRipple);
    // });

    // function createRipple(e) {
    //   if (this.getElementsByClassName("ripple").length > 0) {
    //     this.removeChild(this.childNodes[1]);
    //   }

    //   var circle = document.createElement("div");
    //   this.appendChild(circle);

    //   var d = Math.max(this.clientWidth, this.clientHeight);
    //   circle.style.width = circle.style.height = d + "px";

    //   circle.style.left = e.clientX - this.offsetLeft - d / 2 + "px";
    //   circle.style.top = e.clientY - this.offsetTop - d / 2 + "px";
    //   //console.log("enter");
    //   circle.classList.add("ripple");
    // }
  </script>
</html>
