<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Result</title>
  </head>
  <body>
    <button class="btn">
      <a style="color: #fff; text-decoration: none; font-weight: 600" href="/"
        >Convert Again</a
      >
    </button>
    <h1><%=text%></h1>
  </body>
</html>
