<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Drag & Drop or Browse: File Upload | CodingNepal</title> -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/styles/styles.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap"
    />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Sucess</title>
    <style>
      .success_container {
        display: flex;
        /* background-color: aquamarine; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
      }

      .success_main {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;

        /* background-color: rgb(16, 56, 91); */
      }
      /* .logo-top {
        /* background-color: green; */
      /* } */

      .success_inner {
        /* background-color: rgb(15, 43, 33); */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4%;
        align-items: center;
        justify-content: center;
      }

      .success_inner > img {
        max-width: 348px;
        max-height: 324px;
        width: 100%;
        height: 100%;
      }
      .success_inner > h2 {
        font-size: 48px;
        font-weight: normal;
      }
      .success_inner > p {
        font-size: 16px;
        font-weight: lighter;
      }
      .success_inner > a > button {
        width: 130px;
        height: 45px;
        /* UI Properties */
        background-color: #00121a;
        font-size: 16px;
        font-weight: lighter;
        outline: none;
        border: none;
        color: rgb(255, 255, 255);
        border-radius: 6px;
        cursor: pointer;
        letter-spacing: 1px;
      }
    </style>
  </head>
  <body>
    <div class="success_container">
      <div class="success_main">
        <div class="logo-top">
          <h2>ELLOCR</h2>
        </div>
        <div class="success_inner">
          <img src="/images/success.jpeg" alt="" />
          <h2>Successfully Scanned.</h2>
          <p>File successfully scanned and ready for digital use.</p>
          <a href="/result">
            <button>Check Result</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
