@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-direction: column;
  background: url("/images/bgsvg.svg");
}
.title {
  color: #fff;
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.drag-area {
  border: none;
  height: 50vh;
  min-height: 400px;
  min-width: 500px;
  width: 60vw;
  background: #8570ed;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
}

.drag-area .icon {
  text-align: center;
  font-size: 120px;
  color: #fff;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.mid {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem 0;
  text-align: center;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.image {
  max-height: 200px;
  max-width: 400px;
}
.spinner {
  position: absolute;
}
#btnSubmit {
  margin: 2rem;
  cursor: pointer;
}
