* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Segoe UI", sans-serif;
}
.title {
  color: #fff;
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.drag-area {
  border: none;
  height: 55vh;
  min-height: 400px;
  min-width: 500px;
  padding: 1rem;
  width: 60vw;
  background: #8570ed;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
}

.drag-area .icon {
  text-align: center;
  font-size: 120px;
  color: #fff;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.mid {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem 0;
  text-align: center;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.image {
  min-height: 200px;
  min-width: 400px;
  max-height: 30vh;
  max-width: 40vw;
}
.spinner {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
}
/* .btn {
  margin: 2rem;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  outline: none;
  color: #fff;
  text-decoration: none;

  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 40px;
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
}

.btn .ripple {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
} */

/* CSS for spinner-body */
#spinner-body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999999;
}
#spinner-body > h2 {
  color: #0b38b6;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}
#spinner-body > img {
  width: 100px;
  height: 100px;
}

@keyframes ripple {
  10% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #d72323; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 0.6rem 0.8rem; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 90%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
.text {
  width: 80%;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.59);
}
@media only screen and (max-width: 650px) {
  .drag-area {
    min-width: 300px;
  }
  #snackbar {
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
  }
  .image {
    min-width: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .drag-area {
    min-width: 250px;
  }
  #snackbar {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
  .image {
    min-width: 180px;
  }
}
@media only screen and (max-height: 550px) {
  .drag-area {
    min-height: 320px;
    height: 60vh;
    margin-bottom: 2rem;
  }
  .btn {
    margin: 0.9rem;
    font-size: 0.8rem;
  }
  .mid {
    font-size: 1.2rem;
  }
  .icon {
    font-size: 20px;
  }
  .image {
    min-height: 150px;
  }
}

/* hero - main (page -1) */

.hero {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  /* padding-top: 1%; */
  height: 92vh; /* Use 100vh for full viewport height */
  width: 100vw; /* Use 100vw for full viewport width */
}
.logo-top {
  /* background-color: gainsboro; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.logo-top > h2 {
  font-size: 24px;
  font-weight: 500;
}
#logo-text {
  margin-top: 20px;
  font-weight: 500;
}
/* hero-Top */
.hero-main {
  /* background-color: rgb(137, 29, 29); */
  display: flex;
  flex-direction: row;
  gap: 5%;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  align-items: center;
}

.hero-left {
  /* background-color: #007eee; */
  width: 52%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 5%;
}
.hero-left > h3 {
  font-size: 64px;
  /* letter-spacing: 1px; */
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  text-overflow: ellipsis;
  /* font-weight: 600; */
}
.hero-left > p {
  color: #000000;
  font-size: 18;
  letter-spacing: 2px;
  font-weight: lighter;
  width: 100%;
  /* background-color: #00121a; */
}
.hero-left > button {
  width: 142px;
  height: 57px;
  /* UI Properties */
  /* font-weight: 100; */
  letter-spacing: 1px;
  color: white;
  background-color: #00121a;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: lighter;
}

.hero-right {
  /* background-color: #61626352; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-right-img {
  width: 700;
  height: 520px;
  border-radius: 50%;

  /* padding: 10px; */
  background-color: #c6f0ff52;
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  /* padding: 10%; */
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hero-right-img > img {
  max-width: 516px;
  padding: 10px;
  max-height: 341px;
  /* background-color: #000000; */
  /* object-fit: cover; */
  /* border-radius: 50%; Match the container's border-radius */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-main {
    /* background-color: #0b2e4c; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-main {
    /* background-color: #007eee; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1420px) {
  .hero-main {
    /* background-color: olivedrab; */
  }
  .hero-left > h3 {
    font-size: 56px;
    /* letter-spacing: 1px; */
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    /* font-weight: 600; */
  }
  .hero-left > p {
    color: #000000;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: lighter;
    width: 100%;
    /* background-color: #00121a; */
  }
}
@media only screen and (min-width: 1420px) {
  .hero-main {
    /* background-color: gray; */
  }
  .hero-left > h3 {
    font-size: 70px;
    /* letter-spacing: 1px; */
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    /* font-weight: 600; */
  }
  .hero-left > p {
    color: #000000;
    font-size: 16;
    letter-spacing: 2px;
    font-weight: lighter;
    width: 100%;
    /* background-color: #00121a; */
  }
}

/* upload-main  ( page -2 )*/
.upload-main {
  background-color: #f4fbfe;
  /* background-color: #00121a; */
  padding: 4%;
  height: 100vh; /* Use 100vh for full viewport height */
  width: 100vw; /* Use 100vw for full viewport width */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.upload-popup {
  /* background-color: rebeccapurple; */
  height: 100%;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.upload-type {
  height: auto;
  width: 60%;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
  margin-bottom: 2%;
  background-color: #f4fbfe;
  /* background-color: red; */
  margin-top: 2%;
}

.upload-type::-webkit-scrollbar {
  width: 0.5em; /* Width of the vertical scrollbar */
}

.upload-type::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

.upload-type::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
  border-radius: 0; /* Radius of the thumb */
}
.upload-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.upload-inner > h2 {
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 2px;
}
.upload-inner > p {
  font-size: 14px;
  font-weight: 100;
}
.lables-inner {
  width: 100%;
  height: 100%;
}
/* Styling for the custom radio container */
.custom-radio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}
.custom-radio {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  /* border: 1px solid transparent; */
  box-shadow: 0px 3px 6px transparent;
  border: 1px solid transparent;
}

.custom-radio:hover {
  border-color: #0288ff; /* Change border color for active container */
  box-shadow: 0px 3px 6px #88888829;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  background-color: #ffffff; /* Change background color for active container */
}

.custom-radio.active {
  border-color: #0288ff; /* Change border color for active container */
  background-color: #ffffff; /* Change background color for active container */
  box-shadow: 0px 3px 6px #88888829;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}

.icon {
  margin-right: 10px;
  background-color: #6cbaff;
  padding: 20px;
  border-radius: 10px;
}

.radio-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.radio-label {
  font-weight: bold;
  font-size: 22px;
}

.description {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
}

.next-arrow {
  text-align: center;
  margin-left: 10px;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-radio.active .radio-label {
  color: #0288ff; /* Change label color for selected div */
}

/* Style for the modal */
.modal,
.selectAreaModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #00121a; */
  background-color: rgba(0, 0, 0, 0.4);
  animation: animatetop ease-out 0.3s forwards;
  overflow: auto;
}

/* Modal content */
.modal-content {
  background-color: #ffffff;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #7070705c;
  border-radius: 11px;
  max-width: 658px;
  max-height: 453px;
  width: 100%;
  max-height: 100vh; /* Adjust the value as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* gap: 4%; */
  /* padding: 2%; */
  z-index: 10000; /* Ensure the modal is above the spinner */
  overflow-y: auto;
}
.modal-header {
  display: flex;
  flex-direction: row;
  max-width: 591px;
  width: 100%;
  justify-content: space-between;
}
.modal-header > h2 {
  color: black;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.modal-header > span {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: 100;
  border-radius: 50%;
  color: #f7f4f4;
  position: relative;
}

/* Close button */
.close {
  color: white;
  background-color: #7070705c;
  font-size: 15px;
  width: 40px;
  padding-bottom: 3px;
  height: 40px;
  text-align: center;
  position: relative;
  top: -10px;
  right: -20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form-container {
  background-color: #f2f8ff;
  border: 3px dotted #007eee;
  max-width: 591px;
  max-height: 252px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 90%;
  padding: 12px;
  height: 70%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  /* gap: 5%; */
  align-items: center;
  text-align: center;
}

.form > #img-preview {
  width: 60px;
  height: 60px;
}
/* only for preview img */
.show_img_preview {
  padding: 5px;
  max-width: 200px;
  max-height: 140px;
  object-fit: cover;
}
.form > h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 2%;
}
.form > p {
  font-size: 18px;
  font-weight: 200;
  margin-top: 2%;
  color: #707070;
}
.form > p {
  font-size: 18px;
  font-weight: 200;
  margin-top: 2%;
  color: #707070;
}
.upload-btn {
  color: #007eee;
  font-size: 16px;
  font-weight: 400;
  width: 114px;
  height: 45px;
  cursor: pointer;
  border-radius: 6px;
  background-color: white;
  padding: 12px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.paste-url {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* background-color: firebrick; */
}

.url-submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #ababab;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  margin-top: 5px;
  height: 43px;
}
.paste-url > p {
  font-size: 18px;
}
.url-submit > input {
  width: 100%;
  max-height: 53px;
  height: 100%;

  outline: none;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}
.url-submit > img {
  max-height: 52px;
  max-width: 52px;
  outline: none;
  border: none;
}

.submit_div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.submit_div > button {
  background-color: #000000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-weight: lighter;
  outline: none;
  border: none;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* // show result */
.main_result {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 90%;
  height: 100vh;
}

.result_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.heading_btns {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.heading_btns > #save_drive {
  width: 201px;
  height: 57px;
  /* UI Properties */
  border: 2px solid #2cb6e9;
  border-radius: 6px;
  opacity: 1;
  font-size: 16px;
  padding: 10px;
}
.heading_btns > #download_now {
  width: 147px;
  height: 57px;
  font-size: 16px;
  padding: 10px;
  background-color: #00121a;
  color: white;
  cursor: pointer;
  /* UI Properties */
  border-radius: 6px;
  opacity: 1;
}
.heading_btns > #dropdown {
  width: 147px;
  height: 57px;
  font-size: 16px;
  padding: 10px;
  background-color: #00121a;
  color: white;
  cursor: pointer;
  /* UI Properties */
  border-radius: 6px;
  opacity: 1;
}
.result-data {
  padding: 10px;
  max-height: 70vh;
  height: 100%;
  /* UI Properties */
  box-shadow: 0px 3px 6px #00000000;
  border: 1px solid #dddddd;
  border-radius: 12px;
}
.new_scan > {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

#scan_now_btn {
  width: 147px;
  height: 57px;
  /* UI Properties */
  border: 2px solid #2cb6e9;
  border-radius: 6px;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 1px;
  float: right;
  cursor: pointer;
}

/* cropper only "main_cropper */
/* .main_cropper {
  background-color: #00121a;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.select_img {
  background-color: rgb(141, 54, 54);
  border-radius: 10px;
  padding: 10px;
  height: 90%;
} */

/*  css for selectAreaModal */

.selectAreaModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 5555;
}

.selectAreaModalInner {
  width: 80%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgb(220, 220, 220);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.selectAreaChildInner {
  /* background-color: #0b38b6; */
  padding: 5px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: center;
  align-items: center;
}
.selectAreaModalInner > h2 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2%;
}
.selectAreaChildInnerPreview {
  width: 90%;
  height: 20%;
  /* border: 1px solid gray; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.selectAreaChildInner > img {
  width: 80%;
  height: 80%;
  /* object-fit: contain; */
  border: 1px solid rgb(224, 219, 219);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.selectAreaChildInner > button {
  color: white;
  background-color: black;
  width: 160px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  font-weight: 400;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

canvas {
  /* border: 1px solid blue; */
}

#selected_imgPreview_Div {
  background-color: red;
  border: 1xp solid green;
  /* margin: 10px; */
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 5px;
  /* padding: 10px; */
}